name: Actions Workflow

on: [push, pull_request]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List Files
        # by default, GitHub will not clone your files into your directory, so
        # ls will not produce output because the directory is empty
        run: |
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "{{ github.token }}"
          # git clone git@github:$GITHUB_REPOSITORY
          # git checkout $GITHUB_SHA
      - name: Checkout
        uses: actions/checkout@v1
      - name: List Files After Checkout
        # by default, GitHub will not clone your files into your directory, so
        # ls will not produce output because the directory is empty
        run: |
          pwd
          ls -a
      - name: Simple JS Action
        # id is how you assign a name to an output
        # you can access the name assigned (ex: greet) as follows:
        # ${{ steps.greet.outputs.time }}
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: Adrian
      - name: Log Greeting Time
        run: echo "${{ steps.greet.outputs.time }}"